<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Management System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<h1>Employee Management System</h1>
<hr>
<h2>Update the employee</h2>

<div class="new-form">
    <form th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
        <input type="hidden" th:field="${employee.id}"/>
        <input type="text" th:field="${employee.firstName}" placeholder="First Name">
        <input type="text" th:field="${employee.lastName}" placeholder="Last Name">
        <input type="text" th:field="${employee.email}" placeholder="Email">
        <button type="submit">Update Employee</button>
        <a th:href="@{/employees}" class="button" id="back-btn">Back</a>
    </form>
</div>

</body>
</html>